<div class="location-container">

    <div class="Principal">
        <h2>{{'RADIATION_MAP.TITLE' | translate}}</h2>

        <div class="controls">
            <button class="button1" mat-raised-button (click)="ngOnInit()">{{'RADIATION_MAP.UPDATE' | translate}}</button>
            <button class="button2" mat-raised-button>{{'RADIATION_MAP.SHARE' | translate}}</button>
        </div>
    </div>


    <div class="map-and-sidebar">
        <div id="leaflet-map" class="leaflet-map"></div>

        <div class="sidebar">
            <div class="legend">
                <h3>{{'LEGEND.LEGEND' | translate }}</h3>
                <hr class="custom-line">
                <ul>
                    <li><span class="dot green"></span> {{'LEGEND.NORMAL' | translate}}</li>
                    <li><span class="dot yellow"></span> {{'LEGEND.ELEVATED' | translate}}</li>
                    <li><span class="dot orange"></span> {{'LEGEND.HIGH' | translate}}</li>
                    <li><span class="dot red"></span>{{'LEGEND.CRITICAL' | translate}} </li>
                </ul>
            </div>

            <div class="filters">
                <h3>{{'FILTERS.FILTERS' | translate}}</h3>
                <p>{{'FILTERS.DESCRIPTION' | translate}}</p>
                <hr class="custom-line">
                <h2 >{{'FILTERS.TYPES' | translate}}</h2>
                <mat-form-field appearance="fill" class="fill">
                    <mat-label>{{'FILTERS.ALL_DATA' | translate}}</mat-label>
                    <mat-select>
                        <mat-option>{{'FILTERS.ALL_DATA' | translate}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <label>{{'FILTERS.DEVICES' | translate}}</label>
                <div class="check">
                    <mat-checkbox checked  class="mat-check">{{'FILTERS.ALL_DEVICES' | translate}}</mat-checkbox>
                    <mat-checkbox class="mat-check">{{'FILTERS.ONLY' | translate}}</mat-checkbox>
                    <mat-checkbox class="mat-check">{{'FILTERS.ALERTS' | translate}}</mat-checkbox>
                </div>

                <button mat-raised-button class="button-filter">{{'FILTERS.APPLY' | translate}}</button>
            </div>
        </div>
    </div>
    <div class="zonas-wrapper">
        <div class="zonas-cercanas-container">
            <h3>{{'AREAS.LOCATION' |  translate}}</h3>
            <div class="zona-item">
                <div class="zona-info">
                    <span class="dot yellow"></span>
                    <div>
                        <strong>{{'AREAS.LOCATION-MIRAFLORES' |  translate}}</strong><br />
                        <small>{{'AREAS.DESCRIPTION-MIRAFLORES' |  translate}}</small>
                    </div>
                </div>
                <button mat-stroked-button class="button-baja">{{'AREAS.BUTTON-MAP' | translate}}</button>
            </div>

            <div class="zona-item">
                <div class="zona-info">
                    <span class="dot orange"></span>
                    <div>
                        <strong>{{'AREAS.LOCATION-SAN-ISIDRO' |  translate}}</strong><br />
                        <small>{{'AREAS.DESCRIPTION-SAN-ISIDRO' |  translate}}</small>
                    </div>
                </div>
                <button mat-stroked-button class="button-baja">{{'AREAS.BUTTON-MAP' | translate}}</button>
            </div>

            <div class="zona-item">
                <div class="zona-info">
                    <span class="dot green"></span>
                    <div>
                        <strong>{{'AREAS.LOCATION-CENTRO' |  translate}}</strong><br />
                        <small>{{'AREAS.DESCRIPTION-CENTRO' | translate}}</small>
                    </div>
                </div>
                <button mat-stroked-button class="button-baja">{{'AREAS.BUTTON-MAP' | translate}}</button>
            </div>
        </div>
    </div>


</div>
