<div class="title">
    <h1>{{ 'DEVICE_MANAGEMENT.TITLE' | translate }}</h1>
    <button mat-raised-button color="primary" class="add-button" (click)="toggleForm()">
        <mat-icon>add</mat-icon>
        {{ 'DEVICE_MANAGEMENT.ADD_BOTTOM' | translate }}
    </button>
</div>

<!-- Formulario para crear nuevo dispositivo -->
<div *ngIf="showForm" class="create-form">
    <h3>Nuevo dispositivo</h3>
    <form (ngSubmit)="createDevice()" #deviceForm="ngForm">

        <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput required [(ngModel)]="newDevice.name" name="name">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Ubicación</mat-label>
            <input matInput required [(ngModel)]="newDevice.location" name="location">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Lectura actual</mat-label>
            <input matInput type="number" required [(ngModel)]="newDevice.currentReading" name="currentReading">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Fecha de última lectura</mat-label>
            <input matInput type="date" required [(ngModel)]="newDevice.lastReadDate" name="lastReadDate">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Estado</mat-label>
            <mat-select [(ngModel)]="newDevice.status" name="status" required>
                <mat-option *ngFor="let s of statuses" [value]="s">
                    {{ s.status }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Tipo</mat-label>
            <mat-select [(ngModel)]="newDevice.type" name="type" required>
                <mat-option *ngFor="let t of types" [value]="t">
                    {{ t.type }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Frecuencia</mat-label>
            <mat-select [(ngModel)]="newDevice.frequency" name="frequency" required>
                <mat-option *ngFor="let f of frequencies" [value]="f">
                    {{ f.frequency }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div class="form-actions">
            <button mat-raised-button color="primary" type="submit">Crear</button>
            <button mat-button type="button" (click)="toggleForm()">Cancelar</button>
        </div>
    </form>
</div>

<!-- Mensaje y lista de dispositivos -->
<div *ngIf="loading">Cargando dispositivos...</div>
<div *ngIf="error">{{ error }}</div>

<div class="card-container">
    <app-device-card
            *ngFor="let device of devices"
            [device]="device"
            (delete)="deleteDevice(device.id!)">
    </app-device-card>
</div>
