@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    font-family: "Poppins", sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.mat-typography {
    font-family: "Poppins", sans-serif !important;
}

/* Override Material typography */
.mat-typography h1,
.mat-typography h2,
.mat-typography h3,
.mat-typography h4,
.mat-typography h5,
.mat-typography h6,
.mat-typography p,
.mat-typography span,
.mat-typography div {
    font-family: "Poppins", sans-serif !important;
}
